@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');

/* VARIABLES */
$darkGray: #3c3c3c;
$darkerGray: #454544;
$lightGray: #4f514c;
$lightText: #d2dbcd;
$tan: #d9d4ce;
$darkGreen: #4a5334;
$orange: #f8b133;
$darkOrange: #ba8526;
$brown: #624e41;
$green: #128C3A;
$darkText: #3c3c3b;
$accent: $darkOrange;
$peopleColor: #E64F28;
$foodColor: #2371B5;
$cultureColor: #915F3A;
$communityColor: #D31453;

/* Global Styles */
body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 12px;
  background-color: $tan;
  color: $darkText;

  margin-bottom: 40px;
}

a {
  color: $accent;

  &:hover {
    color: #925f36;
  }

  &.call-to-action {
    color: $orange;
    text-transform: uppercase;
    font-weight: 700;
  }
}

h1 {
  font-weight: 300;
  font-size: 32px;

  &.page-title {
    margin-bottom: 5px;
  }

  a, a:hover {
    color: inherit;
    text-decoration: none;
  }
}

.page-subtitle {
  color: #fff;
  font-style: italic;
  margin-bottom: 10px;
}

.feature-text {
  color: #fff;
}

.landing-feature {
  border: solid 2px #ECECEC;
  margin-bottom: 20px;

  .landing-feature-image {

    //overflow-x: hidden;

    img {
      max-width: 100%;
    }
  }

  .landing-feature-content {
    padding: 15px;
    background-color: #ECECEC;
    font-size: 14px;

    .landing-feature-title {
      color: $darkOrange;
      font-size: 22px;
    }

    .landing-feature-subtitle {
      font-weight: bold;
    }

    .landing-feature-text {
      margin-top: 5px;
    }
  }
}

@media ( min-width: 768px ) {
  .grid-divider {
    position: relative;
    padding: 0;
  }
  .grid-divider>[class*='col-'] {
    position: static;
  }
  .grid-divider>[class*='col-']:nth-child(n+2):before {
    content: "";
    border-left: 1px solid #DDD;
    position: absolute;
    top: 0;
    bottom: 0;
  }
  .col-padding {
    padding: 0 15px;
  }
}

/* NAVBAR */

.social-icons {

  li {
    > a {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  @media (max-width: 480px) {

    margin-left: -5px;

    li {
      float: left;
      > a {
        display: inline;
      }
    }
  }
}

.navbar-default {
  background-color: $darkGray;
  min-height: 42px;

  margin-bottom: 0;
  border: none;
  border-radius: 0;

  .navbar-brand {
    margin-top: -5px;
    margin-bottom: -2px;

    img {
      max-height: 35px;
    }
  }

  .navbar-nav {
    > li {
      > a {
        color: $lightText;
        &:hover {
          color: $lightText;
          background-color: $darkerGray;
        }
      }
    }

    .open {
      background-color: $darkerGray;
      a, a:hover, a:focus {
        color: $lightText;
        background-color: $darkerGray;
      }
    }

    .dropdown-menu {
      a {
        color: $lightText;
        font-size: 12px;
      }
      background-color: $darkerGray;
    }
  }
}

@media (min-width: 480px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
  }

  .navbar-default {
    max-height: 50px;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }
}

.breadcrumbs {
  background-color: $lightGray;
  ul {
    margin: 0;
    padding: 0;
    li {
      color: $lightText;
      display: inline-block;
      padding: 3px 0 3px 0;
      &:not(:last-child)::after {
        content: ' / '
      }
      a {
        color: $lightText;
        display: inline-block;
        text-transform: uppercase;
        font-size: 11px;

        &.selected {
          color: #787d76;
        }
      }
    }
  }
}

.filter-select {
  border: none;
  background: none;
  padding: 0;
  margin: 0 15px 0 0;
  font-size: 1.1em;
}

/* Body */

header {

  padding-bottom: 55px;
  position: relative;

  .overlay {
    background: transparent url('../Images/image_overlay.png') repeat-y 0 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &.plants {
    background: transparent url('../Images/plants.jpg') no-repeat top center;
    background-size: cover;
    min-height: 0;
  }

  &.food {
    background: transparent url('../Images/food.jpg') no-repeat top center;
    background-size: cover;
  }

  &.events {
    background: transparent url('../Images/events.jpg') no-repeat top center;
    background-size: cover;
  }

  &.culture {
    background: transparent url('../Images/culture.jpg') no-repeat top center;
    background-size: cover;
  }

  &.details {
    min-height: 0;
  }

  &.home {
    min-height: 575px;
    background: transparent url('../Images/background_hp.jpg') no-repeat top center;
    background-size: cover;
    position: relative;

    padding-top: 60px;
    padding-bottom: 0;

    @media (min-width: 768px) {
      padding-bottom: 170px;
    }

    .home-logo {
      max-width: 80%;

      @media (min-width: 990px) {
        max-width: 35%;
      }
    }

    .home-text {
      text-align: center;

      h1 {
        font-weight: 100;
        font-size: 37px;
        margin-bottom: 25px;
      }

      p {
        font-size: 14px;
        color: #fff;

        @media (min-width: 990px) {
          padding-left: 200px;
          padding-right: 200px;
        }
      }
    }

    .home-calendar {
      position: absolute;
      min-height: 150px;
      width: 100%;
      background-color: rgba(255, 255, 255, .4);
      bottom: 0;
      padding-top: 20px;

      @media (max-width: 768px) {
        position: static;
        height: auto;
        margin-top: 20px;
      }

      h2 {
        font-size: 22px;
        font-weight: 300;
        color: #fff;
        margin-top: 0;

        .date-number {
          font-weight: 700;
          color: #1d1d1b;
        }
      }

      .calendar-link {
        text-decoration: none;
        display: inline-block;

        @media (max-width: 768px) {
          margin-bottom: 10px;
        }
      }
    }
  }

  h1, h5, p {
    color: #fff;
  }
}

#featuredPages {
  background-color: $tan;
  padding: 25px 0;

  .perc20 {
    margin-bottom: 40px;

    @media (min-width: 768px) {
      width: 20%;
      margin-bottom: 0;
    }

  }

  h1 {
    text-align: center;

    i {
      display: block;
      text-align: center;
    }
  }

  p {
    text-align: center;
  }

  @media (min-width: 768px) {
    h1 {
      font-size: 24px;
    }
  }

  @media (min-width: 990px) {
    h1 {
      i {
        display: inline-block;
      }
    }
  }

  @media (min-width: 1200px) {
    h1 {
      font-size: 32px;
    }
  }
}

#mainContent {

  background-color: $tan;

  .container {
    top: -40px;
    margin-bottom: -40px;
    position: relative;
    background-color: #fff;
    padding: 0 30px 0 30px;
    min-height: 500px;
  }
}

.plant-icon, .food-icon, .culture-icon, .community-icon, .people-icon {
  margin-right: 5px;
  font-size: .8em;
}

.plant-icon, .blooming-icon {
  color: $green;
}

.food-icon, .active-icon {
  color: $foodColor;
}

.culture-icon, .season-icon {
  color: $cultureColor;
}

.community-icon, .showcase-icon {
  color: $communityColor;
}

.people-icon {
  color: $peopleColor;
}

.alphabet-menu {

  margin-bottom: 10px;

  a {
    text-transform: uppercase;
    display: inline-block;
    margin-right: 3px;
    color: $brown;

    &.selected {
      font-weight: bold;
    }

    @media (min-width: 480px) {
      font-size: 1.3em;
      margin-right: 5px;
    }
  }

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.searchResults {
  padding: 20px 0;
}

#searchbox-label {
  position: relative;
  display: block;
  width: 100%;

  &:before {
    color: #666;
    content: "\f002";
    font-family: FontAwesome;
    position: absolute;
    top: 2px;
    left: 5px;
  }
}

.searchbox {
  background-color: #ececec;
  border: none;
  padding: 3px 0 3px 23px;
  width: 100%;

}

.divider {
  border-bottom: solid 1px #f5f5f5;
  padding-bottom: 5px;
}

/* Details Page */
.tabs-column {

  background-color: #D9D9D9;
  margin-left: -15px;
  margin-right: -15px;

  @media (min-width: 768px) {
    margin-right: 0;
    border-right: solid 1px #D9D9D9;
  }

  .tab-content {
    background-color: #fff;
    margin-left: -15px;
    margin-right: -15px;
    padding: 25px;

    @media (min-width: 768px) {
      min-height: 600px;
    }
  }
}

.mobile-tabs {

  padding: 20px;

  select {
    display: block;
    width: 100%;
  }

  @media (min-width: 990px) {
    display: none;
  }
}

ul.tabs {
  list-style-type: none;
  margin: 10px 0 0 10px;
  padding: 0;
  display: none;

  @media (min-width: 990px) {
    display: block;
  }

  li {
    display: inline-block;
    a {
      display: block;
      padding: 10px 10px;
      margin-right: 3px;
      background-color: #ECECEC;
      font-weight: bold;

      @media (min-width: 1200px) {
        padding: 10px 20px;
      }

      &.selected {
        background-color: #fff;
        color: #3c3c3b;
      }
    }
  }
}

.details-column {

  padding: 20px 0 20px 20px;

  @media (max-width: 768px) {
    padding-left: 10px;
  }

  .detail-section {
    margin-bottom: 25px;

    .detail-header {
      font-weight: bold;
      padding-bottom: 2px;
      border-bottom: solid 2px #D9D9D9;
      margin-bottom: 10px;
    }
    .detail-content {

      &.photos {
        overflow-x: hidden;
        white-space: nowrap;
        img {
          margin-right: 3px;
        }
      }

      .detail-content-subhead {
        font-size: 10px;
        color: #9c9b9b;
        font-weight: bold;
        margin-bottom: 2px;

        &:not(:first-child) {
          margin-top: 15px;
        }
      }

      ul.detail-content-list {

        list-style-type: none;
        margin: 15px 0 0 0;
        padding: 0;

        li {
          margin-bottom: 3px;
          i {
            display: inline-block;
            margin-right: 5px;
          }
        }
      }
    }
  }

}

/* Footer */
footer {
  background-color: $darkGreen;
  position: fixed;
  width: 100%;
  bottom: 0;

  .container {
    padding: 10px 0 10px 0;
  }

  .footer-nav {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 15px;

    li {
      display: inline-block;
      margin-right: 10px;
    }

  }

  a {
    color: #fff;
  }

  .copyright {
    color: #7a8077;
    font-size: 10px;
    padding-left: 30px;
    text-align: right;

    @media (max-width: 768px) {
      margin-top: 5px;
      text-align: left;
    }
  }

  .footer-links {
    a {
      font-size: 10px;
      color: #fff;
    }
  }
}

.no-top-margin {
  margin-top: 0 !important;
}

.pad-top {
  padding-top: 20px;
}
