@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700");
/* VARIABLES */
/* Global Styles */
body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 12px;
  background-color: #d9d4ce;
  color: #3c3c3b;
  margin-bottom: 40px; }

a {
  color: #ba8526; }
  a:hover {
    color: #925f36; }
  a.call-to-action {
    color: #f8b133;
    text-transform: uppercase;
    font-weight: 700; }

h1 {
  font-weight: 300;
  font-size: 32px; }
  h1.page-title {
    margin-bottom: 5px; }
  h1 a, h1 a:hover {
    color: inherit;
    text-decoration: none; }

.page-subtitle {
  color: #fff;
  font-style: italic;
  margin-bottom: 10px; }

.feature-text {
  color: #fff; }

.landing-feature {
  border: solid 2px #ECECEC;
  margin-bottom: 20px; }
  .landing-feature .landing-feature-image img {
    max-width: 100%; }
  .landing-feature .landing-feature-content {
    padding: 15px;
    background-color: #ECECEC;
    font-size: 14px; }
    .landing-feature .landing-feature-content .landing-feature-title {
      color: #ba8526;
      font-size: 22px; }
    .landing-feature .landing-feature-content .landing-feature-subtitle {
      font-weight: bold; }
    .landing-feature .landing-feature-content .landing-feature-text {
      margin-top: 5px; }

@media (min-width: 768px) {
  .grid-divider {
    position: relative;
    padding: 0; }

  .grid-divider > [class*='col-'] {
    position: static; }

  .grid-divider > [class*='col-']:nth-child(n+2):before {
    content: "";
    border-left: 1px solid #DDD;
    position: absolute;
    top: 0;
    bottom: 0; }

  .col-padding {
    padding: 0 15px; } }
/* NAVBAR */
.social-icons li > a {
  padding-left: 5px;
  padding-right: 5px; }
@media (max-width: 480px) {
  .social-icons {
    margin-left: -5px; }
    .social-icons li {
      float: left; }
      .social-icons li > a {
        display: inline; } }

.navbar-default {
  background-color: #3c3c3c;
  min-height: 42px;
  margin-bottom: 0;
  border: none;
  border-radius: 0; }
  .navbar-default .navbar-brand {
    margin-top: -5px;
    margin-bottom: -2px; }
    .navbar-default .navbar-brand img {
      max-height: 35px; }
  .navbar-default .navbar-nav > li > a {
    color: #d2dbcd; }
    .navbar-default .navbar-nav > li > a:hover {
      color: #d2dbcd;
      background-color: #454544; }
  .navbar-default .navbar-nav .open {
    background-color: #454544; }
    .navbar-default .navbar-nav .open a, .navbar-default .navbar-nav .open a:hover, .navbar-default .navbar-nav .open a:focus {
      color: #d2dbcd;
      background-color: #454544; }
  .navbar-default .navbar-nav .dropdown-menu {
    background-color: #454544; }
    .navbar-default .navbar-nav .dropdown-menu a {
      color: #d2dbcd;
      font-size: 12px; }

@media (min-width: 480px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none; }

  .navbar-default {
    max-height: 50px; }

  .navbar .navbar-collapse {
    text-align: center; } }
.breadcrumbs {
  background-color: #4f514c; }
  .breadcrumbs ul {
    margin: 0;
    padding: 0; }
    .breadcrumbs ul li {
      color: #d2dbcd;
      display: inline-block;
      padding: 3px 0 3px 0; }
      .breadcrumbs ul li:not(:last-child)::after {
        content: " / "; }
      .breadcrumbs ul li a {
        color: #d2dbcd;
        display: inline-block;
        text-transform: uppercase;
        font-size: 11px; }
        .breadcrumbs ul li a.selected {
          color: #787d76; }

.filter-select {
  border: none;
  background: none;
  padding: 0;
  margin: 0 15px 0 0;
  font-size: 1.1em; }

/* Body */
header {
  padding-bottom: 55px;
  position: relative; }
  header .overlay {
    background: transparent url("../Images/image_overlay.png") repeat-y 0 0;
    position: absolute;
    width: 100%;
    height: 100%; }
  header.plants {
    background: transparent url("../Images/plants.jpg") no-repeat top center;
    background-size: cover;
    min-height: 0; }
  header.food {
    background: transparent url("../Images/food.jpg") no-repeat top center;
    background-size: cover; }
  header.events {
    background: transparent url("../Images/events.jpg") no-repeat top center;
    background-size: cover; }
  header.culture {
    background: transparent url("../Images/culture.jpg") no-repeat top center;
    background-size: cover; }
  header.details {
    min-height: 0; }
  header.home {
    min-height: 575px;
    background: transparent url("../Images/background_hp.jpg") no-repeat top center;
    background-size: cover;
    position: relative;
    padding-top: 60px;
    padding-bottom: 0; }
    @media (min-width: 768px) {
      header.home {
        padding-bottom: 170px; } }
    header.home .home-logo {
      max-width: 80%; }
      @media (min-width: 990px) {
        header.home .home-logo {
          max-width: 35%; } }
    header.home .home-text {
      text-align: center; }
      header.home .home-text h1 {
        font-weight: 100;
        font-size: 37px;
        margin-bottom: 25px; }
      header.home .home-text p {
        font-size: 14px;
        color: #fff; }
        @media (min-width: 990px) {
          header.home .home-text p {
            padding-left: 200px;
            padding-right: 200px; } }
    header.home .home-calendar {
      position: absolute;
      min-height: 150px;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.4);
      bottom: 0;
      padding-top: 20px; }
      @media (max-width: 768px) {
        header.home .home-calendar {
          position: static;
          height: auto;
          margin-top: 20px; } }
      header.home .home-calendar h2 {
        font-size: 22px;
        font-weight: 300;
        color: #fff;
        margin-top: 0; }
        header.home .home-calendar h2 .date-number {
          font-weight: 700;
          color: #1d1d1b; }
      header.home .home-calendar .calendar-link {
        text-decoration: none;
        display: inline-block; }
        @media (max-width: 768px) {
          header.home .home-calendar .calendar-link {
            margin-bottom: 10px; } }
  header h1, header h5, header p {
    color: #fff; }

#featuredPages {
  background-color: #d9d4ce;
  padding: 25px 0; }
  #featuredPages .perc20 {
    margin-bottom: 40px; }
    @media (min-width: 768px) {
      #featuredPages .perc20 {
        width: 20%;
        margin-bottom: 0; } }
  #featuredPages h1 {
    text-align: center; }
    #featuredPages h1 i {
      display: block;
      text-align: center; }
  #featuredPages p {
    text-align: center; }
  @media (min-width: 768px) {
    #featuredPages h1 {
      font-size: 24px; } }
  @media (min-width: 990px) {
    #featuredPages h1 i {
      display: inline-block; } }
  @media (min-width: 1200px) {
    #featuredPages h1 {
      font-size: 32px; } }

#mainContent {
  background-color: #d9d4ce; }
  #mainContent .container {
    top: -40px;
    margin-bottom: -40px;
    position: relative;
    background-color: #fff;
    padding: 0 30px 0 30px;
    min-height: 500px; }

.plant-icon, .food-icon, .culture-icon, .community-icon, .people-icon {
  margin-right: 5px;
  font-size: .8em; }

.plant-icon, .blooming-icon {
  color: #128C3A; }

.food-icon, .active-icon {
  color: #2371B5; }

.culture-icon, .season-icon {
  color: #915F3A; }

.community-icon, .showcase-icon {
  color: #D31453; }

.people-icon {
  color: #E64F28; }

.alphabet-menu {
  margin-bottom: 10px; }
  .alphabet-menu a {
    text-transform: uppercase;
    display: inline-block;
    margin-right: 3px;
    color: #624e41; }
    .alphabet-menu a.selected {
      font-weight: bold; }
    @media (min-width: 480px) {
      .alphabet-menu a {
        font-size: 1.3em;
        margin-right: 5px; } }
  @media (min-width: 768px) {
    .alphabet-menu {
      margin-bottom: 0; } }

.searchResults {
  padding: 20px 0; }

#searchbox-label {
  position: relative;
  display: block;
  width: 100%; }
  #searchbox-label:before {
    color: #666;
    content: "\f002";
    font-family: FontAwesome;
    position: absolute;
    top: 2px;
    left: 5px; }

.searchbox {
  background-color: #ececec;
  border: none;
  padding: 3px 0 3px 23px;
  width: 100%; }

.divider {
  border-bottom: solid 1px #f5f5f5;
  padding-bottom: 5px; }

/* Details Page */
.tabs-column {
  background-color: #D9D9D9;
  margin-left: -15px;
  margin-right: -15px; }
  @media (min-width: 768px) {
    .tabs-column {
      margin-right: 0;
      border-right: solid 1px #D9D9D9; } }
  .tabs-column .tab-content {
    background-color: #fff;
    margin-left: -15px;
    margin-right: -15px;
    padding: 25px; }
    @media (min-width: 768px) {
      .tabs-column .tab-content {
        min-height: 600px; } }

.mobile-tabs {
  padding: 20px; }
  .mobile-tabs select {
    display: block;
    width: 100%; }
  @media (min-width: 990px) {
    .mobile-tabs {
      display: none; } }

ul.tabs {
  list-style-type: none;
  margin: 10px 0 0 10px;
  padding: 0;
  display: none; }
  @media (min-width: 990px) {
    ul.tabs {
      display: block; } }
  ul.tabs li {
    display: inline-block; }
    ul.tabs li a {
      display: block;
      padding: 10px 10px;
      margin-right: 3px;
      background-color: #ECECEC;
      font-weight: bold; }
      @media (min-width: 1200px) {
        ul.tabs li a {
          padding: 10px 20px; } }
      ul.tabs li a.selected {
        background-color: #fff;
        color: #3c3c3b; }

.details-column {
  padding: 20px 0 20px 20px; }
  @media (max-width: 768px) {
    .details-column {
      padding-left: 10px; } }
  .details-column .detail-section {
    margin-bottom: 25px; }
    .details-column .detail-section .detail-header {
      font-weight: bold;
      padding-bottom: 2px;
      border-bottom: solid 2px #D9D9D9;
      margin-bottom: 10px; }
    .details-column .detail-section .detail-content.photos {
      overflow-x: hidden;
      white-space: nowrap; }
      .details-column .detail-section .detail-content.photos img {
        margin-right: 3px; }
    .details-column .detail-section .detail-content .detail-content-subhead {
      font-size: 10px;
      color: #9c9b9b;
      font-weight: bold;
      margin-bottom: 2px; }
      .details-column .detail-section .detail-content .detail-content-subhead:not(:first-child) {
        margin-top: 15px; }
    .details-column .detail-section .detail-content ul.detail-content-list {
      list-style-type: none;
      margin: 15px 0 0 0;
      padding: 0; }
      .details-column .detail-section .detail-content ul.detail-content-list li {
        margin-bottom: 3px; }
        .details-column .detail-section .detail-content ul.detail-content-list li i {
          display: inline-block;
          margin-right: 5px; }

/* Footer */
footer {
  background-color: #4a5334;
  position: fixed;
  width: 100%;
  bottom: 0; }
  footer .container {
    padding: 10px 0 10px 0; }
  footer .footer-nav {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 15px; }
    footer .footer-nav li {
      display: inline-block;
      margin-right: 10px; }
  footer a {
    color: #fff; }
  footer .copyright {
    color: #7a8077;
    font-size: 10px;
    padding-left: 30px;
    text-align: right; }
    @media (max-width: 768px) {
      footer .copyright {
        margin-top: 5px;
        text-align: left; } }
  footer .footer-links a {
    font-size: 10px;
    color: #fff; }

.no-top-margin {
  margin-top: 0 !important; }

.pad-top {
  padding-top: 20px; }

/*# sourceMappingURL=main.css.map */
