<header class="plants details">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="page-title">Plant Name</h1>
				<div class="page-subtitle">Plant SubTtitle</div>
			</div>
		</div>
	</div>
</header>
<section id="mainContent">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 tabs-column">

				<div class="mobile-tabs">
					<select>
						<option value="Description">Description</option>
						<option value="Conservation Survey">Conservation Survey</option>
						<option value="Disease Fact Sheet">Disease Fact Sheet</option>
						<option value="Horticulture Sheet">Horticulture Sheet</option>
						<option value="History">History</option>
					</select>
				</div>

				<ul class="tabs">
					<li>
						<a class="selected" href="#">Description</a>
					</li>
					<li>
						<a href="#">Conservation Survey</a>
					</li>
					<li>
						<a href="#">Disease Fact Sheet</a>
					</li>
					<li>
						<a href="#">Horticulture Sheet</a>
					</li>
					<li>
						<a href="#">History</a>
					</li>
				</ul>

				<div class="tab-content">
					<p><strong>Adansonia digitata (baobab)</strong> is the most widespread of the Adansonia species, and is native
						to the African continent. The long-lived pachycauls are typically found in dry, hot savannahs of sub-Saharan
						Africa, where they dominate the landscape, and reveal the presence of a watercourse from afar. Their growth rate is
						determined by ground water or rainfall, and their maximum age, which is subject to much conjecture, seems to
						be in the order of 1,500 years. They have traditionally been valued as sources of food, water, health
						remedies or places of shelter and are steeped in legend and superstition. Explorers of old were inclined to
						carve their names on baobabs, and many are defaced by modern graffiti. Common names for the baobab include
						dead-rat tree (from the appearance of the fruit), monkey-bread tree (the soft, dry fruit is edible), upside-down tree (the
						sparse branches resemble roots), cream of tartar tree (cream of tartar) and गोरखचिंच in marathi (meaning
						monkey's tamarind).
					</p>
				</div>
			</div>
			<div class="col-sm-4 details-column">

				<!--Photos-->
				<div class="detail-section">
					<div class="detail-header">
						Photos
					</div>
					<div class="detail-content photos">
						<a href="https://placeholdit.imgix.net/~text?txtsize=40&txt=pic&w=800&h=400" data-lightbox="plantpics"><img src="https://placeholdit.imgix.net/~text?txtsize=20&txt=pic&w=73&h=54" alt=""></a>
						<a href="https://placeholdit.imgix.net/~text?txtsize=40&txt=pic&w=800&h=400" data-lightbox="plantpics"><img src="https://placeholdit.imgix.net/~text?txtsize=20&txt=pic&w=73&h=54" alt=""></a>
						<a href="https://placeholdit.imgix.net/~text?txtsize=40&txt=pic&w=800&h=400" data-lightbox="plantpics"><img src="https://placeholdit.imgix.net/~text?txtsize=20&txt=pic&w=73&h=54" alt=""></a>
						<a href="https://placeholdit.imgix.net/~text?txtsize=40&txt=pic&w=800&h=400" data-lightbox="plantpics"><img src="https://placeholdit.imgix.net/~text?txtsize=20&txt=pic&w=73&h=54" alt=""></a>
						<a href="https://placeholdit.imgix.net/~text?txtsize=40&txt=pic&w=800&h=400" data-lightbox="plantpics"><img src="https://placeholdit.imgix.net/~text?txtsize=20&txt=pic&w=73&h=54" alt=""></a>
					</div>
				</div>

				<!--Details-->
				<div class="detail-section">
					<div class="detail-header">
						Details
					</div>
					<div class="detail-content">
						<div class="detail-content-subhead">
							Family
						</div>
						<div>Rubiacese</div>

						<div class="detail-content-subhead">
							Genus
						</div>
						<div>Coffea L.</div>

						<div class="detail-content-subhead">
							Species
						</div>
						<div>coffea arabica</div>

						<div class="detail-content-subhead">
							Blooming Season
						</div>
						<div>Jan 1st - Mar 15th</div>

						<div class="detail-content-subhead">
							Fruiting Season
						</div>
						<div>Oct 20th - Feb 10th</div>

						<ul class="detail-content-list">
							<li><i class="fa fa-leaf blooming-icon"></i>Blooming</li>
							<li><i class="fa fa-star showcase-icon"></i>Showcase Plant</li>
							<li><i class="fa fa-check active-icon"></i>Active</li>
							<li><i class="fa fa-calendar season-icon"></i>In Season</li>
						</ul>
					</div>
				</div>

				<!--Relationships-->
				<div class="detail-section">
					<div class="detail-header">
						Relationships
					</div>
					<div class="detail-content">
						<div class="detail-content-subhead">
							People
						</div>
						<ul class="detail-content-list no-top-margin">
							<li>
								<a href="#">Julia Morton</a>
							</li>
							<li>
								<a href="#">Robert Barnum</a>
							</li>
							<li>
								<a href="#">David Fairchild</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
