<header class="plants details">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="page-title">Plant Name</h1>
				<div class="page-subtitle">Plant SubTtitle</div>
			</div>
		</div>
	</div>
</header>
<section id="mainContent">

	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1><i class="fa fa-pagelines plant-icon"></i>Food</h1>
			</div>
		</div>

		<div class="row divider">
			<div class="col-sm-8 alphabet-menu">
				<a ng-class="{selected: $first}" href="#" ng-repeat="letter in alphabet">{{ letter }}</a>
			</div>
			<div class="col-sm-4">
				<label id="searchbox-label">
					<input type="text" class="searchbox">
				</label>
			</div>
		</div>
		<div class="row pad-top">
			<div class="col-sm-6 col-md-3">
				<div class="landing-feature">
					<div class="landing-feature-image">
						<img src="https://placeholdit.imgix.net/~text?txtsize=40&txt=pic&w=800&h=500" alt="">
					</div>
					<div class="landing-feature-content">
						<div class="landing-feature-title">Feature Title</div>
						<div class="landing-feature-subtitle">Feature Subtitle</div>
						<div class="landing-feature-text">Feature Text</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="landing-feature">
					<div class="landing-feature-image">
						<img src="https://placeholdit.imgix.net/~text?txtsize=40&txt=pic&w=800&h=500" alt="">
					</div>
					<div class="landing-feature-content">
						<div class="landing-feature-title">Feature Title</div>
						<div class="landing-feature-subtitle">Feature Subtitle</div>
						<div class="landing-feature-text">Feature Text</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="landing-feature">
					<div class="landing-feature-image">
						<img src="https://placeholdit.imgix.net/~text?txtsize=40&txt=pic&w=800&h=500" alt="">
					</div>
					<div class="landing-feature-content">
						<div class="landing-feature-title">Feature Title</div>
						<div class="landing-feature-subtitle">Feature Subtitle</div>
						<div class="landing-feature-text">Feature Text</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="landing-feature">
					<div class="landing-feature-image">
						<img src="https://placeholdit.imgix.net/~text?txtsize=40&txt=pic&w=800&h=500" alt="">
					</div>
					<div class="landing-feature-content">
						<div class="landing-feature-title">Feature Title</div>
						<div class="landing-feature-subtitle">Feature Subtitle</div>
						<div class="landing-feature-text">Feature Text</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
