<header class="home">
	<div class="home-text">
		<div class="container">
			<div class="col-xs-12">
				<img src="Images/content_logo_hp@2x.png" alt="Digital Garden" class="home-logo">
				<h1>A place for people, food &amp; culture</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas efficitur consequat felis at vulputate.
					Vivamus
					pretium leo eros, euismod venenatis arcu sagittis et. Suspendisse lobortis mi elit, ut hendrerit ipsum
					hendrerit
					a. Nulla euismod, metus a cursus lobortis, magna dolor viverra ipsum, vel mollis ligula metus sed mauris.
					Suspendisse lacus est, rutrum at malesuada sed, consequat in nibh. Sed non neque ligula.
				</p>
			</div>
		</div>
	</div>
	<div class="home-calendar">
		<div class="container">
			<div class="row grid-divider">
				<div class="col-sm-3">
					<a href="#" class="calendar-link">
						<div class="col-padding">
							<h2>Oct <span class="date-number">12</span></h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas efficitur consequat felis at
								vulputate
							</p>
						</div>
					</a>
				</div>
				<div class="col-sm-3">
					<a href="#" class="calendar-link">
						<div class="col-padding">
							<h2>Oct <span class="date-number">12</span></h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas efficitur consequat felis at
								vulputate
							</p>
						</div>
					</a>
				</div><div class="col-sm-3">
				<a href="#" class="calendar-link">
					<div class="col-padding">
						<h2>Oct <span class="date-number">12</span></h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas efficitur consequat felis at
							vulputate
						</p>
					</div>
				</a>
			</div><div class="col-sm-3">
				<a href="#" class="calendar-link">
					<div class="col-padding">
						<h2>Oct <span class="date-number">12</span></h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas efficitur consequat felis at
							vulputate
						</p>
					</div>
				</a>
			</div>
			</div>
		</div>
	</div>
</header>
<section id="featuredPages">
	<div class="container">
		<div class="row">
			<div class="col-sm-2 perc20">
				<h1>
					<i class="fa fa-pagelines plant-icon"></i><a href="#">Plants</a></h1>
				<p>
					Desctiption text here
				</p>
			</div>
			<div class="col-sm-2 perc20">
				<h1><i class="fa fa-users people-icon"></i>People</h1>
				<p>
					Desctiption text here
				</p>
			</div>
			<div class="col-sm-2 perc20">
				<h1><i class="fa fa-heart food-icon"></i>Food</h1>
				<p>
					Desctiption text here
				</p>
			</div>
			<div class="col-sm-2 perc20">
				<h1><i class="fa fa-camera-retro culture-icon"></i>Culture</h1>
				<p>
					Desctiption text here
				</p>
			</div>
			<div class="col-sm-2 perc20">
				<h1><i class="fa fa-comments community-icon"></i>Community</h1>
				<p>
					Desctiption text here
				</p>
			</div>
		</div>

	</div>
</section>
