<header class="plants">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h1 class="page-title">Featured Plant</h1>
				<div class="page-subtitle">Botanical Name</div>
				<p class="feature-text">
					Helianthus or sunflowers (from the Greek: Helious, "sun" and anthos) is a genus comprising about 70 species in the family Asteraceae. The
					Genus is one of the many in the Asteraceae that are known as sunflowers. Except for three species in the South America, all Helianthus species are native to North America.
				</p>
				<a href="#" class="call-to-action">Learn More</a>
			</div>
		</div>
	</div>
</header>

<section id="mainContent" ng-controller="PlantSearchCtrl">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1><i class="fa fa-pagelines plant-icon"></i>Plants</h1>
			</div>
		</div>

		<div class="row divider">
			<div class="col-sm-8 alphabet-menu">
				<div class="form-group pull-left">
					<select class="filter-select" id="sel1">
						<option>-- Person Type --</option>
						<option>Type 1</option>
						<option>Type 2</option>
						<option>Type 3</option>
					</select>
				</div>
				<a ng-class="{selected: $first}" href="#" ng-repeat="letter in alphabet">{{ letter }}</a>
			</div>
			<div class="col-sm-4">
				<label id="searchbox-label">
					<input type="text" class="searchbox">
				</label>
			</div>
		</div>

		<div class="row searchResults">
			<div class="col-sm-4" ng-repeat="col in plants">
				<div ng-repeat="plant in col"><a href="#">{{ plant.BotanicalName }}</a></div>
			</div>
		</div>
	</div>
</section>
